@font-face {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

/* Related demos */

.content--related {
	font-weight: bold;
	padding: 8em 1em;
	margin: 15em 0 0;
	text-align: center;
	background: #26252a;
	color: #f0f0f0;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.3;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:focus .media-item__img,
.media-item:hover .media-item__img {
	opacity: 1;
}

.media-item:focus,
.media-item:hover {
	color: #988ADE;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

.github-corner svg {
	fill: #988ADE;
	color: #fff; 
	position: absolute; 
	top: 0; 
	border: 0; 
	right: 0;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,100% {
		transform: rotate(0);
	}
	20%,60% {
		transform: rotate(-25deg);
	}
	40%,80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 40em) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
.grid__item{
	list-style-type: none;
}
.container{
    
}


