.a1 a {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  overflow: hidden;
  height: 75px;
    border-radius: 45px;
  -webkit-transition: all linear 200ms;
  -moz-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
.a1 a img {
  border: none;
  display: block;
}
.a1 a img:first-child {
  margin-top: 0;
  -webkit-transition: all linear 200ms;
  -moz-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
.a1 a:hover img:first-child {
  margin-top: -75px;
}
.a1 a:hover {
  -webkit-box-shadow: 0 0 6px #000000;
  -moz-box-shadow: 0 0 6px #000000;
  box-shadow: 0 0 6px #000000;
}